* {
    margin: 0px;
}

body {
    background-color: grey;
}

.card {
    border-radius: 3%;
    border: 2px solid black;
    padding: .1%;
    background-color: rgb(187, 20, 20);
}

header,
footer {
    padding: 2%;
    /* background-color: rgb(187, 20, 20); */
}

article {
    background-color: rgb(145, 0, 0);
}

.card {
    margin: 1%;
}

.cnt {
    display: flex;
    justify-content: space-between;
}